
    <!-- Navbar -->
      <mdb-navbar  SideClass="navbar navbar-expand-lg navbar-light white ie-nav fixed-top" [containerInside]="false">
        <mdb-navbar-brand>
          <logo>
            <!-- Breadcrumb-->
            <div class=" mr-auto">
              <p style="font-size:24px;color:#999;margin:0;" ><span style="font-family:'KeepCalm';color:#444">Tru</span><span style="font-family:'KeepCalm';color:#729bbc">Testa</span><sup style="font-size:60%">&trade;</sup> Portal Deliverables</p>
            </div>
            <!--/. Breadcrumb-->
          </logo>
        </mdb-navbar-brand>
        <links>
            
            <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
              <!-- <li class="nav-item">
                <upload-icon></upload-icon>
              </li> -->
              <!-- Dropdown -->
              <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect> 
                  <mdb-icon fas icon="rocket"></mdb-icon>
                  <!-- <span class="caret"></span> -->
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#"><mdb-icon fas icon="truck" class="mr-1"></mdb-icon>TruDelivery</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#"><mdb-icon fas icon="calendar" class="mr-1"></mdb-icon>TruScheduling</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#"><mdb-icon fas icon="calculator" class="mr-1"></mdb-icon>TruEstimates</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#"><mdb-icon fas icon="comment-alt" class="mr-1"></mdb-icon>TruRequests</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#"><mdb-icon fas icon="toolbox" class="mr-1"></mdb-icon>TruEquipment</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#"><mdb-icon fas icon="bookmark" class="mr-1"></mdb-icon>TruStandards</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#"><mdb-icon fas icon="boxes" class="mr-1"></mdb-icon>TruSamples</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#"><mdb-icon fas icon="search" class="mr-1"></mdb-icon>TruInspection</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#"><mdb-icon fas icon="certificate" class="mr-1"></mdb-icon>TruCertification</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#"><mdb-icon fas icon="award" class="mr-1"></mdb-icon>TruAccreditation</a>
                </div>
              </li>
              <li class="nav-item">
                &nbsp;
              </li>
              <li class="nav-item dropdown btn-group" dropdown>
                  <a class="nav-link waves-light dropdown-toggle" mdbWavesEffect dropdownToggle type="button" >
                      <div class="people_avatar-container">
                          <span class="people_avatar">
                              <img ngxGravatar [email]="'userEmailAddress'" [size]="31" [fallback]="'blank'" />
                          </span>
                          <div class="people_fallbackInitial">{{loggedInUserInitials}}</div>
                      </div>
                    <span class="clearfix d-none d-sm-inline-block">{{user}}</span>
                  </a>
                  <div class="dropdown-menu dropdown-ins dropdown-menu-right" role="menu">
                      <!-- <refresh-document-service></refresh-document-service> -->
                      <a class="dropdown-item " href="javascript:void(0)" (click)="logout()">Logout</a>
                  </div>
              </li>
              <li class="nav-item" (click)="toggleShowDrawer()">
                <a class="nav-link waves-light" mdbWavesEffect href="javascript:void(0)" (click)="toggleShowDrawer()">
                    <mdb-icon fas icon="bell"></mdb-icon>
                    <span class="badge badge-danger" *ngIf="msgCount>0">{{msgCount}}</span>
                </a>
              </li>
          </ul>
        </links>
      </mdb-navbar>
    <!--/. Navbar -->

    <notify-card *axLazyElement="'assets/notification-element.js'" [(incoming)]="notificationInfo" (outgoing)="closeNotification($event)"></notify-card>