<div class="pager-container" *ngIf="list?.length">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn-sm btn-rounded grey lighten-2 waves-dark z-depth-0 pl-3 pr-3" size="sm" mdbBtn mdbWavesEffect (click)="!disableLeft && previous()" [class.disabled]="disableLeft"><mdb-icon fas class="text-black-50" icon="backward"></mdb-icon></button>
    <button type="button" class="btn-sm btn-rounded grey lighten-2 waves-dark z-depth-0 pl-3 pr-3" size="sm" mdbBtn mdbWavesEffect (click)="!disableRight && next()" [class.disabled]="disableRight"> <mdb-icon fas class="text-black-50" icon="forward"></mdb-icon></button>
  </div>
  <a mdbBtn floating="true" size="sm" class="grey lighten-2 waves-dark z-depth-0" mdbWavesEffect  (click)="expand()" >
    <mdb-icon fas icon="expand-arrows-alt" class="text-black-50" *ngIf="!listCollapsed"></mdb-icon>
    <mdb-icon fas icon="compress-arrows-alt" class="text-black-50"  *ngIf="listCollapsed"></mdb-icon>
  </a>
</div>
