.view-page-title {
  height:49px;
  background-color:#f8f8f8;
  border-bottom:1px solid #e7e7e7;
}
.view-page-title h4 {
  padding:0 20px;
  font-size:25px;
  font-weight:500;
  line-height:49px;
  color:#444;
  display: inline-table;
}

#shipmentsTable td, #shipmentsTable th {
    padding:8px;
}

#shipmentsTable td:last-child {
  width:50px;
}

#shipmentsTable tbody tr:hover td {
  background-color:hsl(217, 100%, 94%)
}

.input-group-append {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-group-append:hover>span>i {
  color:#4285f4;
  cursor:pointer !important;
}
.form-control:focus + .input-group-append {
  border-bottom: 1px solid #4285f4;
  box-shadow: 0 1px 0 0 #4285f4;
}
.ordersTable td {
  padding:8px;
}
.ordersTable td:first-child {
  width:5%;
  text-align: left !important;
}
.ordersTable>tr:first-child>td {
  border:none !important;
}
.ordersTable td:nth-child(2), 
.ordersTable td:nth-child(3), 
.ordersTable td:nth-child(4), 
.ordersTable td:nth-child(5) {
  width:22%;
}

.ordersTable tr td .subTable td {
  padding:4px;
}
.ordersTable tr td .subTable td:nth-child(1){
  width:15%;
}
.ordersTable tr td .subTable td:nth-child(2){
  width:15%;
}
.ordersTable tr td .subTable td:nth-child(4){
  width:10%;
}
.ordersTable tr td .subTable td:nth-child(5){
  width:10%;
}
.ordersTable tr td .subTable td:nth-child(6){
  width:4%;
}
.ordersTable tr td .subTable td:last-child {
  width:4%;
}
.card {
  border:2px solid #fff;
}
.card.opened {
  border-color:#33b5e5;
}
#pdfview-container {
  padding:20px;
  background-color: #ededed;
}

.pdfview-options{
  position: absolute;
  z-index: 4;
  right: 50px;
}
.pdfview-options ul{
  list-style-type: none;
}
.pdfview-options ul li{
  margin-top: 10px
}