<div class="view-page-title">
  <h4>
      <span>Search Deliverables</span>
  </h4>
</div>


<div class="my-3 mx-5">
  <div class="position-relative">
    <div class="row">
      <div class="col-md-3 ">

        <div class="md-form mb-4">
          <input type="text" name="entityReferenceCode" autocomplete="off" id="entityReferenceCode" class="form-control validate" placeholder="" [(ngModel)]="search.entityReferenceCode" mdbInput>
          <label for="name">{{ 'Order #' | translate }} </label>
        </div>
    
        <div class="md-form mb-3">
          <input type="text" name="name" autocomplete="off" id="name" class="form-control validate" placeholder="" [(ngModel)]="search.name" mdbInput>
          <label for="name">{{ ' Name' | translate }} </label>
        </div>

        <div class="md-form mb-3">
          <mdb-date-picker [inline]="true" name="dateSearchStart" [options]="datePickerOptions" placeholder="" [(ngModel)]="search.dateSearchStart"></mdb-date-picker>
          <label class="datepicker-label" for="dateSearchStart">{{ 'Start Date' | translate }} </label>
        </div>

        <div class="md-form mb-3">
          <mdb-date-picker [inline]="true" name="dateSearchEnd" [options]="datePickerOptions" placeholder="" [(ngModel)]="search.dateSearchEnd"></mdb-date-picker>
          <label class="datepicker-label" for="dateSearchEnd">{{ 'End Date' | translate }} </label>
        </div>

        <div class="md-form mb-4 mt-0">
            <ng-select
                name="deliverableType"
                id="deliverableType"
                [items]="deliverableTypes"
                bindLabel="name"
                placeholder=""
                [(ngModel)]="search.deliverableType"
                (open)="getDeliverableTypes()"
                [loading]="deliverableTypesLoading"
                >
            </ng-select>
            <label class="datepicker-label mt-2" for="status">{{ 'Type' | translate }} </label>
        </div>

        <div>
            &nbsp;<button mdbBtn type="button" size="sm" class="waves-light primary-color-dark text-white pull-right" mdbWavesEffect 
            [disabled]="searchResultsLoading" (click)="searchSelections()">Search</button>
        </div>
    
      </div> 
      <div class="col-md-9">
        <div class="px-3 position-relative">
            <app-spinner [isLoading]="searchResultsLoading"></app-spinner>
            
            <div *ngIf="!searchResultsLoading && !searchResults.length">
              <div style="padding:20px;height:100%" >
                <div class="blank-slate-pf " style="height:100%">
                  <div class="blank-slate-pf-icon">
                    <mdb-icon fas icon="exclamation-triangle" class="fa-2x"></mdb-icon>
                  </div>
                  <h1>
                    {{ 'administration_noResults_label' | translate }}
                  </h1>
                </div>
              </div>
            </div>
            <div id="searchResults" >
              <div class="card mb-3" [ngClass]="{'opened':order.open}">
                <table mbdTable class="ordersTable table mb-0">
                  <tr>
                    <td class="td-valign-middle">
                      <a mdbBtn floating="true" size="sm" class="grey lighten-2 waves-dark z-depth-0 m-0" mdbWavesEffect  
                          (click)="order.open=true;" *ngIf="!order.open" >
                          <mdb-icon fas icon="chevron-right" class="cursor-pointer text-muted"></mdb-icon>
                      </a>
                      <a mdbBtn floating="true" size="sm" class="grey lighten-2 waves-dark z-depth-0 m-0" mdbWavesEffect   
                          (click)="order.open=false" *ngIf="order.open" >
                          <mdb-icon fas icon="chevron-down" class="cursor-pointer text-muted"></mdb-icon>
                      </a>
                    </td>
                    <td class="td-valign-middle"><b>Date</b><br>Dec-25-2019</td>
                    <td class="td-valign-middle"><b>Order#</b><br>0123456789</td>
                    <td class="td-valign-middle"><b>Name</b><br>My Order</td>
                  </tr>
                  <tr *ngIf="order.open">
                    <td colspan="5" class="px-3">
                      <caption class="pt-0" style="display:block">Deliverables</caption>
                      <table mdbTable class="subTable mb-3" style="border:1px solid #ccc" >
                        <tbody>
                          <tr>
                              <td class="td-valign-top"><b>Type</b><br>Deliverable Type A</td>
                              <td class="td-valign-top"><b>Name</b><br>My Deliverable</td>
                              <td class="td-valign-top"><b>Description</b><br>Some description of the deliverable</td>
                              <td class="td-valign-top"><b>Promised</b><br>Jan-1-2020</td>
                              <td class="td-valign-top"><b>Completed</b><br>Jan-2-2020</td>
                              <td class="td-valign-top">
                                <a mdbBtn floating="true" size="sm" class="grey lighten-2 waves-dark z-depth-0 m-0" mdbWavesEffect 
                                  mdbTooltip="View Deliverable" (click)="openViewPDFModal()">
                                  <mdb-icon fas icon="file-pdf" class="cursor-pointer text-muted"></mdb-icon>
                              </a>
                              </td>
                              <td class="td-valign-top">
                                <div class="btn-group dropdown" dropdown>
                                  <a mdbBtn floating="true" size="sm" class="grey lighten-2 waves-dark z-depth-0 m-0" mdbWavesEffect dropdownToggle>
                                      <mdb-icon fas icon="bars" class="cursor-pointer text-muted"></mdb-icon>
                                  </a>
                                  <div class="dropdown-menu dropdown-menu-right dropdown-primary" style="left:unset;right:10px;top:-10px;">
                                      <a class="dropdown-item" href="javascript:void(0)" (click)="downloadPDF()">{{ 'Download' | translate }}</a>
                                      <a class="dropdown-item" href="javascript:void(0)" (click)="openViewPDFModal()">{{ 'View' | translate }}</a>
                                      <a class="dropdown-item" href="javascript:void(0)" (click)="openSharePDFModal()">{{ 'Share' | translate }}</a>
                                  </div>
                                </div>
                              </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="p-3" *ngIf="!searchResultsLoading && !pageInfo.disablePagination">
              <span>
                {{searchResultsMessage}}
              </span>
                    <pagination-template #p="paginationApi" [id]="pageInfo.id" (pageChange)="paginationChange($event)">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination pg-blue-grey justify-content-center  pagination-sm">
                          <li class="page-item " [class.disabled]="p.isFirstPage()">
                            <a (click)="p.previous()" class="page-link" tabindex="-1" mdbWavesEffect>
                              <</a> </li> <ng-container *ngFor="let page of p.pages">
                          <li class="page-item" [class.active]="p.getCurrent() === page.value">
                            <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value" class="page-link"
                              mdbWavesEffect>{{ page.label }}</a>
                          </li>
      
                          <li class="page-item" [class.active]="p.getCurrent() === page.value"
                            *ngIf="p.getCurrent() === page.value">
                            <a class="page-link" mdbWavesEffect>{{ page.label }}</a>
                          </li>
                          </ng-container>
                          <li class="page-item" [class.disabled]="p.isLastPage()">
                            <a (click)="p.next()" class="page-link" mdbWavesEffect>></a>
                          </li>
                        </ul>
                      </nav>
                    </pagination-template>
            </div>
        </div>    
      </div>
    </div> 
  </div>
</div>

<div mdbModal #viewPDFModal="mdbModal" [config]="{backdrop: true, ignoreBackdropClick: true}" class="modal fade top" id="viewPDFModal" tabindex="-1" (opened)="viewerOpened()" >
  <div class="modal-dialog modal-notify modal-info modal-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 font-weight-bold">View Deliverable</h4>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" (click)="viewPDFModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div id="pdfview-container" style="overflow: auto;">

          <div class="pdfview-options" *ngIf="pdfData.pdfSrc">
            <ul>
              <li>
                <a mdbTooltip="Zoom in" placement="left" container="body" href="javascript:void(0)"
                  (click)="pdfData.originalSize = false;pdfData.zoom = pdfData.zoom + 0.1">
                  <i class="fa fa-search-plus fa-2x"></i>
                </a>
              </li>
              <li>
                <a mdbTooltip="Zoom out" placement="left" container="body" href="javascript:void(0)"
                  (click)="pdfData.originalSize = false;pdfData.zoom = pdfData.zoom - 0.1">
                  <i class="fa fa-search-minus fa-2x"></i>
                </a>
              </li>
              <li>
                <a mdbTooltip="Rotate left" placement="left" container="body" href="javascript:void(0)"
                  (click)="pdfData.rotation = pdfData.rotation - 90">
                  <i class="fa fa-rotate-left fa-2x"></i>
                </a>
              </li>
              <li>
                <a mdbTooltip="Rotate right" placement="left" container="body" href="javascript:void(0)"
                  (click)="pdfData.rotation = pdfData.rotation + 90">
                  <i class="fa fa-rotate-right fa-2x"></i>
                </a>
              </li>
              <li>
                <a mdbTooltip="Fit to width" placement="left" container="body" href="javascript:void(0)"
                  (click)="pdfData.originalSize = true; pdfData.zoom = 0.8">
                  <i class="fas fa-arrows-alt fa-2x"></i>
                </a>
              </li>
              <li>
                <a mdbTooltip="Download" placement="left" container="body" href="javascript:void(0)" (click)="downloadPdf()">
                  <i class="fa fa-download fa-2x"></i>
                </a>
              </li>
              <li>
                <a mdbTooltip="Maximize" placement="left" container="body" href="javascript:void(0)" (click)="maximizePDF()">
                  <i class="fa fa-window-maximize fa-2x"></i>
                </a>
              </li>
              <li>
                <a mdbTooltip="Restore Window" placement="left" container="body" href="javascript:void(0)" (click)="restorePDF()">
                  <i class="fa fa-window-restore fa-2x"></i>
                </a>
              </li>
            </ul>
        
          </div>
          <pdf-viewer [src]="pdfData.pdfSrc" [rotation]="pdfData.rotation" [fit-to-page]="true" [zoom]="pdfData.zoom"
            [original-size]="pdfData.originalSize" [render-text]="true" style="display: block;"></pdf-viewer>
        </div>
      </div>
      <div class="modal-footer">
          <button mdbBtn  type="button" size="sm" class="btn btn-default" (click)="viewPDFModal.hide()">{{'Done' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #sharePDFModal="mdbModal" [config]="{backdrop: true, ignoreBackdropClick: true}" class="modal fade left" id="sharePDFModal" tabindex="-1" >
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 font-weight-bold">Share Deliverable</h4>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" (click)="sharePDFModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-4 mt-0">
          <ng-select
              name="contactGroup"
              id="contactGroup"
              [items]="contactGroups"
              bindLabel="name"
              placeholder="Group"
              [(ngModel)]="group"
              (open)="getGroups()"
              [loading]="groupsLoading"
              multiple="true"
              >
          </ng-select>
      </div>
      </div>
      <div class="modal-footer">
        <div class="float-left">
          <span class="small text-muted"><span class="requiredField">* </span>{{ 'administration_required_label' | translate }}</span>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <span class="small text-muted"><span class="uniqueField">† </span>{{ 'administration_unique_label' | translate }}</span>
        </div>
        <button mdbBtn  type="button" size="sm" class="btn btn-primary">Share</button>
        <button mdbBtn  type="button" size="sm" class="btn btn-default" (click)="sharePDFModal.hide()">{{'BTN_cancel_label' | translate}}</button>
      </div>
    </div>
  </div>
</div>