<!-- Header Views -->
<app-header></app-header>
<!-- Header Views -->
<!-- Content Views -->
<main>
  <div>
    <div class="no-side-nav">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
<!--/. Content Views -->
