/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/material.theme.css";

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';


.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: .4375em 0 0 0 !important;
}

@-webkit-keyframes autofill {
  to {
  color: #495057;
  background: #f7f7f7; } }

  @keyframes autofill {
  to {
  color: #495057;
  background: #f7f7f7; } }

  input:-webkit-autofill {
  -webkit-animation-name: autofill;
  animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.loader-container {
  height:100%; width:100%; position:absolute; top:0; left:0; z-index:1001
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@font-face {
  font-family: 'KeepCalm';
  src: url('assets/fonts/KeepCalm/KeepCalm-Medium.ttf')  format('truetype')
}
* {
  font-family:"Lato";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // color:#444;
}

// GLOBAL STYLES HERE
body {
  overflow:hidden;
  font-size:0.9rem !important;
}

.searchListings .btn-floating.btn-sm {
  width: 30px;
  height: 30px;
}
.searchListings .btn-floating.btn-sm[disabled] {
  opacity:.5;
  cursor:not-allowed !important;
}

#searchStandards .btn-floating.btn-sm mdb-icon i,
.searchListings .btn-floating.btn-sm mdb-icon i {
  line-height: 30px !important;
}

table th, table td{font-size:0.9rem !important;}
.td-valign-top {vertical-align:top !important;}
.td-valign-middle {vertical-align:middle !important;}
.td-valign-bottom {vertical-align:bottom !important;}

.btn-floating.btn-sm i {
  font-size: .875rem !important;
}
#list-table-left-column-middle .list-group-item {
  border-top:0px solid #f5f5f5 !important;
  border-right:0px solid #f5f5f5 !important;
  border-bottom:1px solid #f5f5f5 !important;
  border-left:0px solid #f5f5f5 !important;
}
 .detail-items {
  padding: 10px 0 0 0;
  border-top: 1px dotted #dedede;
}
.detail-items .md-form{
  margin-bottom:20px;
}

.display-label{
  font-size: 0.8rem;
  color: #757575;
  margin-bottom:0 !important;
}

.fieldHelp, .field-help {
  padding:5px 0;
  font:italic normal 11px/13px Arial;
  color:rgb(138, 138, 138)
}

.requiredField {
  font-weight:bold;
  color:red;
}
.cursor-pointer {
  cursor:pointer
}
b, strong {
  font-weight: bold;
}
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  color: #999;
  text-align: left;
  caption-side: top !important;
}
table thead tr th {
  font-weight:bold !important;
}
.table-condensed th, .table-condensed td {
  padding:4px !important;
}
.btn-toolbar {
  padding:10px 0;
  display:block;
}
.editMode {
  display: none;
}
#editRow tr:first-child td .select-container.no-image,
#editRow tr:first-child td .ng-select-container,
#editRow tr:first-child td .form-control {
  background-color:rgb(250, 255, 203) !important;
}
.checkbox-label {
  color:#757575;
  font-size: 1rem;
  transform: translateY(-24px) scale(0.8);
}
.modal-footer {
  display: block;
  text-align:right;
}

// START USER AVATAR
.people_avatar-container {
  position: relative;
  width: 31px;
  height: 31px;
  float: left;
  margin: -4px 10px 0 ;
}

.people_avatar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: inline-block;
  width: 31px;
  height: 31px;
  // border: 1px solid #fff;
  border-radius: 50%;
  overflow: hidden
}

.people_fallbackInitial {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #729bbc;
  display: inline-block;
  width: 31px;
  height: 31px;
  // border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 29px;
  text-transform: uppercase;
  // font-size: 86%
}

//modals
.modal-dialog.modal-notify.modal-info .modal-header {
  background-color: #729bbc !important;
  color:#ffffff;
}
.modal {
  overflow-y:auto !important;
}

// NAVIGATION Overwrite
.logo-wrapper {
  height:180px !important;
}

.side-nav .collapsible .fab, .side-nav .collapsible .far, .side-nav .collapsible .fas {
  font-size: 1.2rem !important;
}
.double-nav .breadcrumb-dn p {
  padding-left: 0 !important;
}

@media (min-width: 1441px){
  .breadcrumbs {
      margin-left: -10px !important;
      padding-left: 0 !important;
  }
}
logo .breadcrumbs {
  padding-left: 10px;
}

.side-nav.nav-bg {
  background:#fff url('assets/img/TruTesta/nav-bg.png') bottom center no-repeat;
  background-size:100%
}
.fixed-sn main {
  margin:0;
  padding-top:0;
}
.side-nav .collapsible .card-body li a {
  background-color: rgba(255,255,255,.5) !important;
}
#sidenav-overlay {
  z-index: 1002 !important;
}
mdb-accordion-item-body h5 {
  padding: .5rem 2rem;
  font-size: .9rem;
  font-weight: 500;
  color: #222;
  background-color:rgba(0,0,0,.05);
  margin:0;
}

// header, main, footer {
//   padding-left: 240px;
// }

// @media only screen and (max-width : 1601px) {
//   header, main, footer {
//       padding-left: 0 !important;
//   }
//   .fixed-sn .double-nav, .fixed-sn main, .fixed-sn footer {
//       padding-left: 0 !important;
//   }
//   .double-nav .button-collapse-non-fixed {
//       display: block !important;
//       left: 10px !important;
//       top: 15px !important;
//       font-size: 1.4rem !important;
//       margin-right: 10px !important;
//       margin-left: 10px !important;
//   }
//   .breadcrumbs {
//       margin-left: 0 !important;
//       padding-left: 10px !important;
//   }

// }
// FORM CONTROLS Overwrite
.md-form {
  margin-bottom: 2.5rem;
}

.md-form input[type='text'],
.md-form input[type='password'],
.md-form input[type='email'],
.md-form input[type='url'],
.md-form input[type='time'],
.md-form input[type='date'],
.md-form input[type='datetime-local'],
.md-form input[type='tel'],
.md-form input[type='number'],
.md-form input[type='search-md'],
.md-form input[type='search'],
.md-form textarea.md-textarea,
.md-form .form-control {
  margin: 0 0 0.5rem 0;
  border-radius: 0;
  padding: 0.4rem 0 0.4rem 0;
  background-color: #f7f7f7;
}

.md-form .form-control.background-transparent {
  background-color: transparent !important;
}

.control-label {
  font-weight: bolder
}

.md-form label.active {
  -webkit-transform: translateY(-22px) scale(0.8);
  transform: translateY(-22px) scale(0.8);
}

.md-form .datepicker-label {
  -webkit-transform: translateY(-22px) scale(0.8);
  transform: translateY(-22px) scale(0.8);
}
.md-form mdb-select .form-control {
  margin-bottom: 0.5rem;
}

.md-form mdb-select .form-control {
  height: 38px !important;
}

.md-form .form-control:disabled,
.md-form .form-control[readonly] {
  color: #999999;
  cursor: not-allowed;
}

.has-error .md-form label {
  color: #cc0000;
}

textarea.md-textarea+label.active {
  color: #757575;
}

textarea.md-textarea:focus+label.active {
  color: #4285f4 !important;
}

.md-form textarea.md-textarea-auto {
  padding-top: .5rem;
}

.fa-arrows-alt {
  cursor: grab !important;
}
#editRow tr:first-child td .select-container.no-image,
#editRow tr:first-child td .ng-select-container,
#editRow tr:first-child td .form-control {
  background-color:rgb(250, 255, 203) !important;
}

tr.editRow:first-child td .form-control {
  background-color:rgb(250, 255, 203) !important;
}
tr.editRow:first-child td .select-container.no-image,
tr.editRow:first-child td .ng-select-container {
  background: linear-gradient(180deg, white 0%, white 28%, rgb(250, 255, 203) 28%, rgb(250, 255, 203) 100%) !important;
}

//@ NG-SELECT
.mt-n6 {margin-top:-6px !important;}
.card:first-child .edit-row .ng-select-container {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 28%, rgba(250, 255, 203,1) 28%, rgba(250, 255, 203,1) 100%) !important;
}
.ng-select-container {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 28%, rgba(247,247,247,1) 28%, rgba(247,247,247,1) 100%);
}
.editRow tr:first-child td .ng-select-container {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 28%, rgba(250, 255, 203,1) 28%, rgba(250, 255, 203,1) 100%);
}
.ng-select .ng-select-container:after {
  border-bottom: 1px solid #ced4da;
}
.ng-select .ng-has-value .ng-placeholder,
.ng-select.ng-select-opened .ng-placeholder {
  transform: translateY(-1.6em) scale(0.86) perspective(100px) translateZ(0.001px);
}
.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  top: 22px;
}
.ng-select.ng-select-focused .ng-select-container .ng-value-container .ng-placeholder {
  transform: translateY(-1.6em) scale(0.86) perspective(100px) translateZ(0.001px);
  color:#4285f4;
}
.ng-dropdown-panel.ng-select-bottom {
  top: calc(100%) !important;
}
.ng-select.ng-select-focused .ng-select-container:after {
  border-color: #4285f4;
  border-width: 2px;
}
.ng-select {
  padding-bottom: 0 !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option p {
  line-height: 1.2em !important;
  white-space: pre-line;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #4285f4;
  border-radius: 2px;
  color: #fff;
  padding: 2px 5px;
  margin: 0.21875em 0.4375em 0.21875em 0;
}
.ng-select .ng-spinner-loader {
  position: absolute !important;
  right: 40px;
  top: 24px;
}

// DATE PICKER
.date-container {
  min-height:50px
}
.date-container  .md-form .form-control {
  margin: 0;
}
// TIMEPICKER
mdb-time-picker .tp .md-form {
  margin-bottom:0.5rem !important;
}

// CUSTOM TABS TO MIMIC MATERIAL DESIGN V1 Overwrite
mdb-tabset .white {
  height: 34px !important;
  border-bottom:2px solid #ededed;
}
mdb-tabset .white li.nav-item a.active:hover {
  box-shadow: unset !important;
}
mdb-tabset .white li.nav-item.active {
  // font-weight:600;
  box-shadow: unset !important;
  border-bottom:2px solid #729bbc;
}
mdb-tabset .white li.nav-item {
  margin: 0 0 -2px 0 !important;
  height: 34px !important;
}
mdb-tabset .white li.nav-item>a {
  height: 34px !important;
}
mdb-tabset .white li.nav-item>a.active {
  box-shadow: unset !important;
  color:#729bbc !important
}
mdb-tabset .white li:hover > a.active {
  box-shadow: unset !important;
}
.tab-content {
  padding-top:1rem !important;
  box-shadow: unset !important
}

mdb-tabset .white li.nav-item.disabled>a {
  color:#FFF !important;
}

// EMPTY STATE
.blank-slate-pf {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 1px;
  margin-bottom: 20px;
  padding: 60px;
  text-align: center;
}
.blank-slate-pf-icon {
  text-align:center;
  font-size:18px;
  margin:20px;
}

// PAGER DIRECTIVE
.pager-container {position:absolute;z-index:10;right:0;top:0}

// HACK to be fixed in next release, fixes nav overlap issue
.fixed-sn .double-nav, .fixed-sn main, .fixed-sn footer {
  padding-left: 15rem;
}
@media (max-width: 1440px){
  .fixed-sn .double-nav, .fixed-sn main, .fixed-sn footer {
    padding-left: 0;
  }
}
.side-nav .logo-wrapper img {
  padding: 20px 50px !important;
}

//FIX MDB v8
.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: 400;
}

// DRAGULA
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.white-skin .dropdown-menu a:hover {
  color: #fff;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);

}


.input-group-append {
  background-color: #f7f7f7;
  border:0;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  z-index:10;
  height:37px;
  position:absolute;
  right:0;
}
.input-group-append:hover>span>i {
  color:#4285f4;
  cursor:pointer !important;
}
.form-control:focus + .input-group-append {
  border-bottom: 1px solid #4285f4;
  box-shadow: 0 1px 0 0 #4285f4;
}

.mdb-tabset .white {
  height: 34px !important;
  border-bottom: 2px solid #ededed;
}

.mdb-tabset .white {
  box-shadow: 0 0 0 0 transparent, 0 4px 15px 0 transparent !important;
}

.mdb-tabset .white li.nav-item a.active:hover {
  box-shadow: unset !important;
}

.mdb-tabset .white li.nav-item.active {
  // font-weight:600;
  box-shadow: unset !important;
  border-bottom: 2px solid #729bbc;
}

.mdb-tabset .white li.nav-item {
  margin: 0 0 -2px 0 !important;
  height: 34px !important;
}

.mdb-tabset .white li.nav-item>a {
  height: 34px !important;
}

.mdb-tabset .white li .nav-link {
  color: #666 !important;
}


.mdb-tabset .white li.nav-item>a.active {
  box-shadow: unset !important;
  color: #729bbc !important
}

.mdb-tabset .white li:hover {
  background-color: rgba(158, 158, 158, .3)
}

.mdb-tabset .white li:hover>a.active {
  box-shadow: unset !important;
}

#more-button {
  position: absolute;
  right: 20px;
  top: -9px;
}

.progress-bar,
.progress {
    height: 20px !important;
}


#notificationsModal .modal-full-height.modal-right {
  width:600px !important;
}